main {
  width: 80vw;
  margin: 2% auto;
  border: 2px solid black;
  border-radius: 10px;
}

nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}

#lib-container {
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  text-align: left;
  list-style-type: none;
}

.book-item {
  width: 70%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.5em;
}

footer {
  width: 80vw;
  margin: 10px auto;
  text-align: center;
}

footer button {
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 10px;
}

footer button:hover {
  cursor: pointer;
  background-color: azure;
}

footer button:active {
  outline: none;
}
